/* ChangePassword.css */

.change-password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.password-card {
  background-color: #00000015;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.password-card h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.--form-control {
  display: flex;
  flex-direction: column;
}

.--form-control input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #3e3e3e5b;
  color: #fff;
}

.--btn-primary {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.--btn-primary:hover {
  background-color: #6a0dad;
}