.home {
  background-color: #000000; /* Purple background color */
  min-height: 100vh;
  color: #fff;
  padding-top: 30px;
}

nav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #fff;
}

.logo {
  color: #fff;
}

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-links li {
  margin-left: 1rem;
}

.home-links li a {
  color: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin-top: 20vh;
}

.hero-text {
  width: 50%;
  color: #fff;
}

.hero-text h2,
.hero-text p {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
}

.hero-image {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero-text {
    width: 100%;
    text-align: center;
  }

  .hero-image {
    width: 100%;
  }
}
